@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
	--green-farm:#00b347;
	--green-plant:#00fc53;
}

html {
	overflow-x: hidden;
}

body {
	background: var(--grey);
	overflow-x: hidden;
}


/* SIDEBAR */
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	background: var(--light);
	z-index: 2000;
	font-family: var(--lato);
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
	display: none;
}
#sidebar.hide {
	width: 60px;
}
#sidebar .brand {
	font-size: 24px;
	font-weight: 700;
	height: 56px;
	display: flex;
	align-items: center;
	color: var(--blue);
	position: sticky;
	top: 0;
	left: 0;
	background: var(--light);
	z-index: 500;
	padding-bottom: 20px;
	box-sizing: content-box;
}
#sidebar .brand .bx {
	min-width: 60px;
	display: flex;
	justify-content: center;
}
#sidebar .side-menu {
	width: 100%;
	margin-top: 48px;
}
#sidebar .side-menu li {
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
}
#sidebar .side-menu li.active {
	background: var(--grey);
	position: relative;
}
#sidebar .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	background: var(--light);
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: var(--dark);
	white-space: nowrap;
	overflow-x: hidden;
}
#sidebar .side-menu.top li.active a {
	color: var(--blue);
}
#sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}
#sidebar .side-menu li a.logout {
	color: var(--red);
}
#sidebar .side-menu.top li a:hover {
	color: var(--blue);
}
#sidebar .side-menu li a .bx {
	min-width: calc(60px  - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}
/* SIDEBAR */





/* CONTENT */
#content {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
}
#sidebar.hide ~ #content {
	width: calc(100% - 60px);
	left: 60px;
}




/* NAVBAR */
#content nav {
	height: 56px;
	background: var(--light);
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: var(--lato);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}
#content nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--light);
}
#content nav a {
	color: var(--dark);
}
#content nav .bx.bx-menu {
	cursor: pointer;
}
#content nav .nav-link {
	font-size: 16px;
	transition: .3s ease;
}
#content nav .nav-link:hover {
	color: var(--blue);
}
#content nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
#content nav form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
}
#content nav form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--grey);
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
}
#content nav form .form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--blue);
	color: var(--light);
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}
#content nav .notification {
	font-size: 20px;
	position: relative;
}
#content nav .notification .num {
	position: absolute;
	top: -6px;
	right: -6px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--light);
	background: var(--red);
	color: var(--light);
	font-weight: 700;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content nav .profile img {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
}
/* NAVBAR */





/* MAIN */
#content main {
	width: 100%;
	padding: 36px 24px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
	overflow-y: auto;
}
#content main .head-title{
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}
#content main .head-title .left h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--dark);
}
#content main .head-title .left .breadcrumb {
	display: flex;
	align-items: center;
	grid-gap: 16px;
}
#content main .head-title .left .breadcrumb li {
	color: var(--dark);
}
#content main .head-title .left .breadcrumb li a {
	color: var(--dark-grey);
	pointer-events: none;
}
#content main .head-title .left .breadcrumb li a.active {
	color: var(--blue);
	pointer-events: unset;
}
#content main .head-title .btn-download {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--blue);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
}




#content main .box-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 24px;
	margin-top: 36px;
}
#content main .box-info li {
	padding: 24px;
	background: var(--light);
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
}
#content main .box-info li .bx {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content main .box-info li:nth-child(1) .bx {
	background: var(--light-blue);
	color: var(--blue);
}
#content main .box-info li:nth-child(2) .bx {
	background: var(--light-yellow);
	color: var(--yellow);
}
#content main .box-info li:nth-child(3) .bx {
	background: var(--light-orange);
	color: var(--orange);
}
#content main .box-info li .text h3 {
	font-size: 24px;
	font-weight: 600;
}

#content main .table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
}
#content main .table-data > div {
	border-radius: 20px;
	background: var(--light);
	padding: 24px;
	overflow-x: auto;
}
#content main .table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}
#content main .table-data .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
}
#content main .table-data .head .bx {
	cursor: pointer;
}

#content main .table-data .order {
	flex-grow: 1;
	flex-basis: 500px;
}
#content main .table-data .order table {
	width: 100%;
	border-collapse: collapse;
}
#content main .table-data .order table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: left;
	border-bottom: 1px solid var(--grey);
}
#content main .table-data .order table td {
	padding: 16px 0;
}
#content main .table-data .order table tr td:first-child {
	display: flex;
	align-items: center;
	grid-gap: 12px;
	padding-left: 6px;
}
#content main .table-data .order table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}
#content main .table-data .order table tbody tr:hover {
	background: var(--grey);
}
#content main .table-data .order table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}
#content main .table-data .order table tr td .status.completed {
	background: var(--blue);
}
#content main .table-data .order table tr td .status.process {
	background: var(--yellow);
}
#content main .table-data .order table tr td .status.pending {
	background: var(--orange);
}


#content main .table-data .todo {
	flex-grow: 1;
	flex-basis: 300px;
}
#content main .table-data .todo .todo-list {
	width: 100%;
}
#content main .table-data .todo .todo-list li {
	width: 100%;
	margin-bottom: 16px;
	background: var(--grey);
	border-radius: 10px;
	padding: 14px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#content main .table-data .todo .todo-list li .bx {
	cursor: pointer;
}
#content main .table-data .todo .todo-list li.completed {
	border-left: 10px solid var(--blue);
}
#content main .table-data .todo .todo-list li.not-completed {
	border-left: 10px solid var(--orange);
}
#content main .table-data .todo .todo-list li:last-child {
	margin-bottom: 0;
}
/* MAIN */
/* CONTENT */









@media screen and (max-width: 768px) {
	#sidebar {
		width: 200px;
	}

	#content {
		width: calc(100% - 60px);
		left: 200px;
	}

	#content nav .nav-link {
		display: none;
	}
}






@media screen and (max-width: 576px) {
	#content nav form .form-input input {
		display: none;
	}

	#content nav form .form-input button {
		width: auto;
		height: auto;
		background: transparent;
		border-radius: none;
		color: var(--dark);
	}

	#content nav form.show .form-input input {
		display: block;
		width: 100%;
	}
	#content nav form.show .form-input button {
		width: 36px;
		height: 100%;
		border-radius: 0 36px 36px 0;
		color: var(--light);
		background: var(--red);
	}

	#content nav form.show ~ .notification,
	#content nav form.show ~ .profile {
		display: none;
	}

	#content main .box-info {
		grid-template-columns: 1fr;
	}

	#content main .table-data .head {
		min-width: 420px;
	}
	#content main .table-data .order table {
		min-width: 420px;
	}
	#content main .table-data .todo .todo-list {
		min-width: 420px;
	}
}

/*stadistics*/
.col-div-4-1 {
    width: 33.3%;
    float: left;
	margin-top: 30px;
	grid-gap: 24px;
	font-family: system-ui;
}

.clearfix {
    clear: both;
}
.box {
    width: 88%;
    height: 130px;
    background-color: #ffffff;
    margin-left: 17px;
    padding: 10px;
    box-shadow: 2px 5px 10px #ddd;
    position: relative;
	border-radius: 25px;
}
.box-1 {
    width: 88%;
    height: 282px;
    background-color: #ffffff;
    margin-left: 10px;
    padding: 10px;
    box-shadow: 2px 5px 10px #ddd;
    position: relative;
	border-radius: 25px;
}
.active1 {
    background-color: var(--blue);
    color: white;
    box-shadow: 4px 3px 7px 3px #3226ad54;
}
.m-box {
    position: relative;
    padding: 0px 12px;
}
.m-box p {
    display: inline-block;
    margin: 10px 0px;
}
.no {
    position: absolute!important;
    top: 21px;
    right: 15px;
    font-weight: 500;
}

.circle-wrap {
    margin: 50px auto;
    width: 150px;
    height: 150px;
    background: #e6e2e7;
    border-radius: 50%;
}
div {
    display: block;
}
.circle-wrap .circle .mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: var(--blue);
}
.circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
}
.circle-wrap .circle .mask.full, .circle-wrap .circle .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(126deg);
}
.circle-wrap .circle .mask, .circle-wrap .circle .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}
.circle-wrap .inside-circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #fff;
    line-height: 130px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
    color: #6c7293;
}
.box p {
    color: #6c7293;
    font-weight: 500;
    padding-left: 10px;
}
.content-box-1 {
    padding: 0px 10px;
	font-size: 14px;
	font-family: system-ui;
}

.head-1 {
    font-size: 18px!important;
    margin: 10px 0px;
    color: #6c7293;
}
.head-1 span {
    float: right;
    background-color: var(--blue);
    color: white;
    padding: 3px 10px;
    font-size: 15px;
}
.number {
    font-size: 35px;
    margin-bottom: 0px;
    margin-top: -14px;
}
.act-p {
    font-size: 13px;
    color: #6c7293;
	padding-top: 14px;
}
.percent {
    margin: 0px;
    font-size: 14px;
    color: #37bf37!important;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.box-icon {
    font-size: 20px!important;
    margin-top: 35px!important;
    color: var(--blue);
    padding-right: 10px;
    background-color: #efeff5;
    padding: 15px;
    border-radius: 25px;
    position: absolute;
    right: 16px;
    top: -18px;
}
/*
/*Inventario Ganadero*/
.teachers {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (minmax(10rem, 1fr))[auto-fit];
		grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
	gap: 1.5rem;
	padding: 0 0 0 18em;
  }
  
  .teachers .box1 {
	text-align: center;
	overflow: hidden;
  }
  
  .teachers .box1:hover .image .share {
	-webkit-transform: translateY(0);
			transform: translateY(0);
  }
  
  .teachers .box1:hover .image .share a {
	-webkit-transform: translateY(-1rem);
			transform: translateY(-1rem);
	opacity: 1;
	-webkit-transition: -webkit-transform .2s .2s;
	transition: -webkit-transform .2s .2s;
	transition: transform .2s .2s;
	transition: transform .2s .2s, -webkit-transform .2s .2s;
  }
  
  .teachers .box1 .image {
	overflow: hidden;
	width: 100%;
	position: relative;
	border-radius: 1rem;
	height: 70%;
  }
  
  .teachers .box1 .image .share {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
		-ms-flex-align: end;
			align-items: flex-end;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	z-index: 10;
	overflow: hidden;
	-webkit-transform: translateY(-100%);
			transform: translateY(-100%);
  }
  
  .teachers .box1 .image .share a {
	font-size: 1.5rem;
	margin: 2rem .7rem;
	color: #fff;
	-webkit-transform: translateY(5rem);
			transform: translateY(5rem);
	opacity: 0;
  }
  
  .teachers .box1 .image .share a:hover {
	color: #fa1d86;
  }
  
  .teachers .box1 .image img {
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
  }
  
  .teachers .box1 .content {
	padding-top: 1rem;
  }
  
  .teachers .box1 .content h3 {
	font-size: 2rem;
	color: #302851;
  }
  
  .teachers .box1 .content span {
	color: #666;
	font-size: 1.5rem;
  }

/*map*/
.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 600px;
    padding-left: 32em;
}

/*crud*/
input[type='submit'], button, [aria-label]{
	cursor: pointer;
  }
  #spoiler{
	display: none;
  }

/*other iframe*/
.tareas{
	padding-left: 17em;
	height: 53.7em;
	width: 80em;
}
.SiembrasCosechas{
	height: 32.7em;
	width: 80em;
}


.modal{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
	left: 200px;
	z-index: 1;
}

#btn-modal:checked ~ .modal{
    opacity: 1;
    visibility: visible;
}

.contenedor{
    width: 50%;
    height: 80%;
    margin:auto;
    background: var(--light);
    box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
    transition: all 500ms ease;
    position: relative;
    transform: translateY(-30%);
}
#btn-modal:checked ~ .modal .contenedor{
    transform: translateY(0%);
}
.contenedor header{
    padding: 10px;
    background:var(--blue);
    color: var(--light);
}
.contenedor label{
    position: absolute;
    top: 10px;
    right: 10px;
    color:var(--light);
    font-size: 15px;
    cursor: pointer;
}
#btn-modal{
    display: none;
}
.lbl-modal{
    background: var(--light);
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}
.headerCI{
	text-align: center;
}

.iframe{
	height: 700px;
	width: 100%;
}

/*************************************************************************/

.modal1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
	z-index: 1;
}

.modal1{
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
	left: 200px;
}

#btn-modal1:checked ~ .modal1{
    opacity: 1;
    visibility: visible;
}

.contenedor1{
    width: 400px;
    height: 300px;
    margin:auto;
    background: var(--light);
    box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
    transition: all 500ms ease;
    position: relative;
    transform: translateY(-30%);
}
#btn-modal1:checked ~ .modal1 .contenedor1{
    transform: translateY(0%);
}
.contenedor1 header{
    padding: 10px;
    background:var(--orange);
    color: var(--light);
}
.contenedor1 label{
    position: absolute;
    top: 10px;
    right: 10px;
    color:var(--light);
    font-size: 15px;
    cursor: pointer;
}
#btn-modal1{
    display: none;
}
.lbl-modal1{
    background: var(--light);
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}
.headerCI1{
	text-align: center;
}

.iframe1{
	height: 300px;
	width: 400px;
}

/*************************************************************************/

.modal2{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
	z-index: 1;
}

.modal2{
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
	left: 200px;
}

#btn-modal2:checked ~ .modal2{
    opacity: 1;
    visibility: visible;
}

.contenedor2{
	top: 24vh;
    width: 50%;
    height: 80%;
    margin:auto;
    background: var(--light);
    box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
    transition: all 500ms ease;
    position: relative;
    transform: translateY(-30%);
}
#btn-modal1:checked ~ .modal2 .contenedor1{
    transform: translateY(0%);
}
.contenedor2 header{
    padding: 10px;
    background:var(--yellow);
    color: var(--light);
}
.contenedor2 label{
    position: absolute;
    top: 10px;
    right: 10px;
    color:var(--light);
    font-size: 15px;
    cursor: pointer;
}
#btn-modal2{
    display: none;
}
.lbl-modal2{
    background: var(--light);
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}
.headerCHT2{
	text-align: center;
}
.iframe2{
	height: 700px;
	width: 410px;
}